{% extends "shared/private_layout.html" %}

{% block title %}
Privacy Policy
{% endblock %}

{% block content %}
<div class="page vertical-align text-center">
    <div class="page-content vertical-align-middle">
        <header>
            <br/><br/><br/>
            <h1 class="animation-slide-top">Privacy Policy</h1>
            <p>You know, it should be a privacy policy</p>
        </header>
        <a class="btn btn-primary btn-round mb-5" href="/">GO TO HOME PAGE</a>
        <footer class="page-copyright">
            <p>© 2022. All RIGHT RESERVED.</p>
        </footer>
    </div>
</div>
{% endblock %}
